body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.comment-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-box p {
    margin: 0;
    line-height: 1.5;
}

.comment-box .user {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-actions {
    margin-top: 10px;
}

.comment-actions a {
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.add-comment {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-comment textarea {
    width: calc(100% - 20px); /* Ajuste para compensar o padding */
    height: 100px;
    resize: none;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.add-comment input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.add-comment input[type="submit"]:hover {
    background-color: #0056b3;
}

.respostas {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.respostas p {
    margin: 0;
    line-height: 1.5;
}
