* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

/* Estilos Gerais */
body {
    background-color: hsl(0, 0%, 100%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
/* Adicione esta regra para separar os links do navbar */
.nav-links a {
    margin-right: 10px; /* Reduzido o espaçamento entre os links do navbar */
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #86BAA0;
    color: #fff;
}

/* Adicione esta regra para ajustar o conteúdo abaixo do navbar */
.main-content {
    padding-top: 100px; /* Ajuste do conteúdo abaixo do navbar */
}


.estrutura-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 250px;
    margin-right: 10px;
}

.nome-empresa {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
}

a {
    color: #fff;
    text-decoration: none;
    justify-content: justify;
}

/* Conteúdo */
.conteudo {
    padding: 20px;
}

.perfil-usuario {
    display: flex;
    align-items: center;
}

.perfil-usuario img {
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    margin-right: 10px;
}

.perfil-usuario span {
    font-weight: bold;
}

.comentario {
    margin-top: 20px;
}

.ver-comentarios,
.adicionar-comentarios {
    display: block;
    margin-top: 20px;
    color: #86BAA0;
}

.linha1,
.linha {
    width: 100%;
    height: 1px;
    background-color: #333;
    margin: 10px 0;
}

.imagem-com {
    display: flex;
}

.imagem-com img {
    width: 300px;
    height: 150px;
    margin-right: 10px;
}

/* Botão Adicionar */
.add-comentario {
    position: fixed;
    bottom: 140px;
    right: 20px;
}

.botao-adicionar {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #86BAA0;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.botao-adicionar:hover {
    background-color: #558f72;
}

.botao-adicionar i {
    font-size: 24px; 
    line-height: 50px; 
}


.custom-shape-divider-bottom-1683068753 {
    float: left;
    width: 100%;
    margin-bottom: -2px;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1683068753 svg {

    float: left;
    display: block;
    width: calc(148% + 1.3px);
    height: 178px;
    background: #ffffff;
    margin-bottom: -2px;
}

.custom-shape-divider-bottom-1683068753 .shape-fill {
    fill: #86BAA0;
}

.main_footer {
    background-color: #86BAA0;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.main_footer .content {
    float: left;
    width: 80%;
    margin: 0 10%;
    padding: 5em 0;
    
}

.container2 {
    float: left;
    width: 100%;
    background-color: #86BAA0;
}

.colfooter {

    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 2em;
}

.colfooter ul {
    width: 100%;
    float: left;
}

.colfooter ul li {
    padding: 0.2em 0em;
}

.colfooter ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    transition: 0.2s;
}

.colfooter ul li a i {
    font-size: 0.5em;
}

.colfooter ul li a:hover {
    color: #313131;
}

.colfooter .titleFooter {

    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    color: #ffffff;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px #ffffff solid;
}

.colfooter p {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 1em;
    height: 25px;
}

.botao {
    padding: 10px 12px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-right: 7px;

}

.botao::before {

    content: '';
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #6098FF;
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.2s cubic-bezier(1, 0, 0, 1)
}

.botao:hover::before {

    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.botao {
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border: 1px solid #ffffff;
    border-radius: 50px;
    overflow: hidden !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: transparent !important;
    z-index: 10;

}

.botao:hover {
    border: 1px solid #262626;
    color: #86BAA0 !important;
}

.botao::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #262626;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.botao::after {

    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #327B56;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.botao:hover::before,
.botao:hover::before {

    opacity: 1;
    width: 120%;
}

.botao:hover::after,
.botao:hover::after {
    opacity: 1;
    width: 150%;
}

.main_footer_copy {
    background-color: #86BAA0;
    width: 100%;
    float: left;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 1.5em 0em;
}

.main_footer_copy p {
    font-size: 1em;
    color: #ffffff;
    height: 20px;
}

.main_footer_copy .m-b-footer {
    margin-bottom: 0.5em;
}

.main_footer_copy .by {
    font-size: 0.96em;
}

.main_footer_copy .by a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.main_footer_copy .by a:hover {
    text-decoration: underline;
    color: #313131
}

.main_footer_copy .by i {
    font-size: 0.96em;
    margin-right: 3px;
    color: #327B56;
}


/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em) {
    .colfooter {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 0;
    }

    .colfooter:nth-of-type(3n+0) {
        margin-right: 0;
        border-right: 0;
    }
}
.titulo {
    font-size: 30px;
    text-align: center;
}

.comment-section {
    padding: 0 1rem;
    max-width: 100%; /* Ajuste da largura máxima */
    margin: auto;
    margin-top: 1rem;
}

.comment {
    margin-bottom: 1rem;
    display: grid;
    grid-template-areas:
        "score user controls"
        "score comment comment"
        "score comment comment";
    grid-template-columns: auto 1fr auto;
    gap: 1.5rem;
    row-gap: 1rem;
    color: var(--Grayish-Blue);
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
:root {
  --Moderate-blue: hsl(153, 75%, 22%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
p{
    line-height: 1.5;
}

a{
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}
button{
    cursor: pointer;
}
button:hover{
    filter: saturate(80%);
}
.bu-primary{
    background-color: var(--Moderate-blue);
    color: var(--White);
    border: none;
    padding: .75rem 1.5rem;
    border-radius: 4px;
}
.comment-section{
    padding: 0 1rem;
}
.container{
    border-radius: 8px;
    padding: 1.5rem;
    background-color: var(--White);
}
.comments-wrp {
    display: flex;
    flex-direction: column;
}
.comment-section{
    max-width: 75ch;
    margin: auto;
    margin-top: 1rem;
}
.comment{
    margin-bottom: 1rem;
    display: grid;
    grid-template-areas: 
        "score user controls"
        "score comment comment"
        "score comment comment"
    ;
    grid-template-columns: auto 1fr auto;
    gap: 1.5rem;
    row-gap: 1rem;
    color: var(--Grayish-Blue);
}

.c-score{
    color: var(--Moderate-blue);
    font-weight: 500;
    grid-area: score;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: .75rem;
    padding-top: .5rem;
    width: 1rem;
    box-sizing: content-box;
    background-color: var(--Very-light-gray);
    border-radius: 8px;
    align-self: flex-start;
}
.score-control{
    width: 100%;
    cursor: pointer;
    object-fit: scale-down;
}
.c-text{
    grid-area: comment;
    width: 100%;
}
.c-user{
    width: 100%;
    grid-area: user;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.usr-name{
    color: var(--Dark-blue);
    font-weight: 700;
}
.usr-img{
    /* height: 2rem;
    width: 2rem; */
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px;
    object-fit: cover;
}

.c-controls{
    display: flex;
    gap: 1rem;
    color: var(--Moderate-blue);
    grid-area: controls;
    align-self: center;
    justify-self: flex-end;
}
.c-controls a{
    align-items: center;
}
.edit , .reply{
    color: var(--Moderate-blue);
}
.edit{
    display: none;
}
.delete{
    color: var(--Soft-Red);
    display: none;
}
.control-icon{
    margin-right: .5rem;
}

.replies{
    display: flex;
    margin-left: 2.5rem;
    padding-left: 2.4rem;
    border-left: 1px solid var(--Light-grayish-blue);
}

.reply-to{
    color: var(--Moderate-blue);
    font-weight: 500;
}

.reply-input{
    display: grid;
    margin-bottom: 1rem;
    grid-template-areas: "avatar input button";
    grid-template-columns: min-content auto min-content;
    justify-items: center;
    gap: 1rem;
    min-height: 9rem;
}
.reply-input img{
    grid-area: avatar;
    height: 2.5rem;
    width: 2.5rem;
}
.reply-input button{
    grid-area: button;
    align-self: flex-start;
}
.reply-input textarea{
    grid-area: input;
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--Light-gray);
    border-radius: 4px;
    resize: none;
}

.this-user .usr-name::after{
    font-weight: 400;
    content: "você";
    color: var(--White);
    background-color: var(--Moderate-blue);
    padding: 0 .5rem;
    padding-bottom: .3rem;
    padding-top: .3rem;
    font-size: .8rem;
    margin-left: .5rem;
    border-radius: 2px;
}

.this-user .reply{
    display: none;
}
.this-user .edit , .this-user .delete{
    display: flex;
}

@media (max-width: 640px) {
    /* Ajustes para telas menores */
    .comment {
        grid-template-areas:
            "user user user"
            "comment comment comment"
            "score ... controls";
        gap: 0.5rem;
    }

    .c-score {
        flex-direction: row;
        width: auto;
    }

    .reply-input {
        grid-template-areas:
            "input input input"
            "avatar ... button";
        grid-template-rows: auto min-content;
        align-items: center;
        gap: 0.5rem;
    }

    .reply-input img {
        height: 2rem;
        width: 2rem;
    }

    .reply-input textarea {
        height: 6rem;
        padding: 0.5rem;
        align-self: stretch;
    }
}

/* Modal */
.modal-wrp {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal {
    padding: 1.5rem;
    max-width: 32ch;
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "heading heading"
        "body body"
        "no yes";
}

.invisible {
    display: none;
}

.modal h3 {
    grid-area: heading;
    color: var(--Dark-blue);
}

.modal button {
    color: var(--White);
    padding: 0.75rem;
    border-radius: 8px;
    border: none;
    font-weight: 500;
}

.modal p {
    grid-area: body;
    color: var(--Grayish-Blue);
    line-height: 1.5;
}

.modal .yes {
    grid-area: yes;
    background-color: var(--Moderate-blue);
}

.modal .no {
    background-color: var(--Grayish-Blue);
    grid-area: no;
}