* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

body {
    background-color: hsl(0, 0%, 100%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #86BAA0;
    color: #fff;
}

.estrutura-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 250px;
    margin-right: 10px;
}

h2 {
    font-family: 'Inter', sans-serif; /* Definindo a fonte 'Inter' para o título */
    margin-top: 60px; /* Adicionando espaço entre a navbar e o título */
    margin-left: 70px;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 90px; /* Ajustando a margem esquerda */
    font-size: medium;
    display: inline-block; /* Deixando o h4 na mesma linha */
}



/* Estilo para os containers */
.container-wrapper {
    display: flex;
    justify-content: center; /* Centraliza os containers na horizontal */
}

.container {
    width: 150px; /* Largura dos containers */
    height: 150px; /* Altura dos containers */
    background-color: #86BAA0;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 20px; /* Espaço entre os containers e o h4 */
    margin-right: 20px; /* Espaço entre os containers */
    padding: 20px;
    align-items: center;
}

h3 {
    margin-top: 90px;
    font-size: medium;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

/* Estilo para a primeira parte do texto */
.first-part {
    color: #000000;
}

/* Estilo para a segunda parte do texto */
.second-part {
    color: #86BAA0;
}

.custom-shape-divider-bottom-1683068753 {
    float: left;
    width: 100%;
    margin-bottom: -2px;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1683068753 svg {

    float: left;
    display: block;
    width: calc(148% + 1.3px);
    height: 178px;
    background: #ffffff;
    margin-bottom: -2px;
}

.custom-shape-divider-bottom-1683068753 .shape-fill {
    fill: #86BAA0;
}

.main_footer {
    background-color: #86BAA0;
    color: #fff;
    font-size: 1em;
}

.main_footer .content {
    float: left;
    width: 80%;
    margin: 0 10%;
    padding: 5em 0;
}

.container {
    float: left;
    width: 100%;
}

.colfooter {

    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 2em;
}

.colfooter ul {
    width: 100%;
    float: left;
}

.colfooter ul li {
    padding: 0.2em 0em;
}

.colfooter ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    transition: 0.2s;
}

.colfooter ul li a i {
    font-size: 0.5em;
}

.colfooter ul li a:hover {
    color: #313131;
}

.colfooter .titleFooter {

    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    color: #ffffff;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px #ffffff solid;
}

.colfooter p {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 1em;
    height: 25px;
}

.botao {
    padding: 10px 12px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-right: 7px;

}

.botao::before {

    content: '';
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #6098FF;
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.2s cubic-bezier(1, 0, 0, 1)
}

.botao:hover::before {

    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.botao {
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border: 1px solid #ffffff;
    border-radius: 50px;
    overflow: hidden !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: transparent !important;
    z-index: 10;

}

.botao:hover {
    border: 1px solid #262626;
    color: #86BAA0 !important;
}

.botao::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #262626;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.botao::after {

    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #327B56;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.botao:hover::before,
.botao:hover::before {

    opacity: 1;
    width: 120%;
}

.botao:hover::after,
.botao:hover::after {
    opacity: 1;
    width: 150%;
}

.main_footer_copy {
    background-color: #86BAA0;
    width: 100%;
    float: left;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 1.5em 0em;
}

.main_footer_copy p {
    font-size: 1em;
    color: #ffffff;
    height: 20px;
}

.main_footer_copy .m-b-footer {
    margin-bottom: 0.5em;
}

.main_footer_copy .by {
    font-size: 0.96em;
}

.main_footer_copy .by a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.main_footer_copy .by a:hover {
    text-decoration: underline;
    color: #313131
}

.main_footer_copy .by i {
    font-size: 0.96em;
    margin-right: 3px;
    color: #327B56;
}

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em) {
    .colfooter {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 0;
    }

    .colfooter:nth-of-type(3n+0) {
        margin-right: 0;
        border-right: 0;
    }
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 90px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#searchResults {
    margin-top: 20px;
}

.result {
    margin-bottom: 20px;
}

.result a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.result a:hover {
    text-decoration: underline;
}

.result p {
    margin-top: 5px;
    color: #666;
}